img#headShot {
	width: 200px;
	border-radius: 50px 0px;
}

.technologies {
	list-style: none;
}

.technologiesContainer {
	text-align: center;
}
ul {
	margin: 0px;
	padding: 0px;
}

img {
	border: 1px solid lightgrey;
}